{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="btn" type="submit">Register</button>
    </form>
    <a href="{{ oauth_github }}">
        <button class="github-btn" >Register with Github</button>
    </a>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </body>
</html>
